@model IMABS.Models.LandingPages.LandingPageViewModel

@{
    ViewBag.Title = "Services";
}
<link href="~/Content/Page/Services.css" rel="stylesheet" />


@{
    string[] allowTextWidgets = { PagebuilderIdentifiers.TEXTWIDGET_IDENTIFIER };
}


<!-- SECTION - TITLE -->
<div class="title">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2 class="page-title">
                    <editable-area area-identifier="serviceTitle" area-options-allowed-widgets="@allowTextWidgets" />
                    @*@Html.Kentico().EditableArea("serviceTitle", allowedWidgets: allowTextWidgets)*@
                </h2>
                <h2 class="tagline">
                    <editable-area area-identifier="serviceSubTitle" area-options-allowed-widgets="@allowTextWidgets" />
                    @*@Html.Kentico().EditableArea("serviceSubTitle", allowedWidgets: allowTextWidgets)*@
                </h2>
            </div>
        </div>
    </div>
</div>

<!-- SECTION - PRODUCT CATEGORIES INDEX -->
<div class="section bgblue">
    <div class="container">
        <div class="row">
            @{ int countSevice = 0; }
            @foreach (var item in Model.top2Services)
            {
                <div class="col-md-6">
                    <a href="@item.RedirectionUrl" class='@(countSevice==0?"panel icon-panel primary-feature":"panel icon-panel secondary-feature")'>
                        <div class="row flex-container">
                            <div class="col-lg-10">
                                <h4>@item.Name</h4>
                                <h5>@item.Description</h5>
                            </div>
                            <div class="col-lg-2"><img src="@item.ImageUrl"></div>
                        </div>
                    </a>
                </div>
                countSevice++;
            }
        </div>
        <div class="row">
            @foreach (var item in Model.services)
            {
                <div class="col-md-4">
                    <a href="@item.RedirectionUrl" class="panel icon-panel">
                        <div class="row flex-container">
                            <div class="col-lg-9">
                                <h4>@item.Name</h4>
                                <h5>@item.Description</h5>
                            </div>
                            <div class="col-lg-3"><img src="@item.ImageUrl"></div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>